<!DOCTYPE html>
<html lang="en" data-scroll="false">

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="/theme/dist/webvaloa.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="vue-pagination-2.min.js"></script>
</head>

<body>
	<header id="webvaloa">
		<div class="container grid-lg">
			<img src="/assets/img/webvaloa.svg" alt="Webvaloa" class="logo" />
			<nav>
				<ul>
					<li class="active">
						<a href="/articles.html" class="nav-link"><i class="fas fa-air-freshener"></i><span class="menu-title">Articles</span></a>
					</li>
					<li>
						<a href="pages/widgets.html" class="nav-link"><i class="fas fa-paw"></i><span class="menu-title">Categories</span></a>
					</li>
					<li>
						<a href="#" class="nav-link"><i class="fas fa-spider"></i><span class="menu-title">Huge Menu</span><i class="menu-arrow"></i></a>
						<div class="submenu">
							<div class="columns">
								<div class="column col-3">
									<h5>Huge things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<h5>Huge things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<h5>Huge things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<h5>Huge things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="pages/widgets.html" class="nav-link"><i class="fas fa-fan"></i><span class="menu-title">Settings</span></a>
						<div class="submenu">
							<div class="columns">
								<div class="column col-3">
									<h5>things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<h5>WTF things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>

								<div class="column col-3">
									<h5>Huge things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="pages/widgets.html" class="nav-link"><i class="fas fa-car"></i><span class="menu-title">Hahaa</span></a>
						<div class="submenu">
							<div class="columns">
								<div class="column col-6">
									<h5>Some things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<h5>Huge things</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<h5>Huge sdfsdf</h5>
									<ul>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
										<li><a href="#">asdasd</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="search">
						<input type="search" placeholder="Search..." />
						<div class="results">
							results
						</div>
						<i class="fas fa-search text-dark"></i>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="app" class="container grid-lg">

		<!--<div class="toast toast-success">
			<button class="btn btn-clear float-right"></button>
			Successfully fucked up everything.
		</div>-->

		<div class="card" id="main-content">
			<div class="card-header">
				<input class="form-input float-right col-4" type="search" v-model="searchString" placeholder="Search articles">
				<div class="card-title h5">Articles</div>
				<div class="card-subtitle text-gray">Lists all articles in the database.</div>
			</div>
			<div class="card-body">
				<div class="loading loading-lg" v-if="loading"></div>
				<div class="content-wrapper" v-if="!loading">
					<div class="content">
						<ul class="tab tab-block">
							<li class="tab-item" v-for="category in categories">
								<a @click="setCategory(category.id)" v-bind:class="{ active: currentCategory == category.id }">{{category.name}}</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="articles">
								<div class="tile tile-centered" v-for="(article, index) in pagination" v-bind:key="index">
									<div class="tile-content">
										<div class="tile-title">{{article.title}}</div>
										<small class="tile-subtitle text-gray">{{article.owner}} · <span class="permission label label-rounded" v-for="permission of article.permission">{{(typeof roles[permission] === "object")?roles[permission].name:"?"}}</span> · {{article.created}}</small>
									</div>
									<div class="tile-action">
										<a :href="'/article/edit/' + article.id" class="btn btn-link">
											Edit
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<pagination v-bind:records="articleCount" v-model="page" v-bind:per-page="limit" ref="pagination"></pagination>
				<small class="text-gray" v-if="searchString!==''"> Searching for: "{{searchString}}"</small>
			</div>
		</div>
	</div>
</body>

<script>
	const app = new Vue({
		el: '#app',
		components: {
			Pagination
		},
		data: {
			page: 1,
			limit: 5,
			articleCount: 0,
			currentCategory: 0,
			articles: [],
			categories: [],
			roles: {},
			searchString: "",
			loading: false,
		},
		computed: {
			pagination() {
				const page = this.page - 1;
				let articles = [];
				if (this.searchString.length !== '') {
					const searchString = this.searchString.toLocaleLowerCase();
					articles = this.articles.filter(article => (article.title.toLocaleLowerCase().includes(searchString) || article.alias.toLocaleLowerCase().includes(searchString)));
				} else {
					articles = this.articles;
				}
				this.articleCount = articles.length;
				const slice = articles.slice(page * this.limit, (page + 1) * this.limit);
				return slice;
			}
		},
		methods: {
			fetchCategories: async () => {
				return fetch("/fake-api/categories.json")
					.then(res => {
						if (res.status !== 200) {
							throw Error("Server error while fetching categories.");
						}
						return res.json();
					})
			},
			fetchArticles: async categoryId => {
				return fetch(`/fake-api/category/${categoryId}.json`).then(res => {
					if (res.status !== 200) {
						throw Error("Server error while fetching articles.");
					}
					return res.json();
				})
			},
			fetchRoles: async () => {
				return fetch(`/fake-api/roles/roles.json`).then(res => {
					if (res.status !== 200) {
						throw Error("Server error while fetching roles.");
					}
					return res.json();
				})
			},
			async setCategory(id) {
				console.log(`Setting category to ${id}`);
				this.loading = true;
				try {
					this.page = 1;
					this.$refs.pagination.setPage(1);
					this.currentCategory = id;
					this.articles = await this.fetchArticles(this.currentCategory);
					this.loading = false;
				} catch (e) {
					console.error(e);
					alert(e);
					this.loading = false;
				}
			}
		},
		async created() {
			this.loading = true;
			try {
				this.page = 1;
				this.categories = await this.fetchCategories();
				if (this.categories.length === 0) {
					throw Error("No categories found");
				}
				this.currentCategory = this.categories[0].id;
				this.articles = await this.fetchArticles(this.currentCategory);
				this.roles = await this.fetchRoles();
				this.loading = false;
			} catch (e) {
				console.error(e);
				alert(e);
				this.loading = false;
			}
		}
	})
</script>

<script>
	document.addEventListener("scroll", () => {
		if (document.documentElement.dataset.scroll === "true") {
			if (window.scrollY < 50) {
				document.documentElement.dataset.scroll = "false";
			}
		} else {
			if (window.scrollY > 150) {
				document.documentElement.dataset.scroll = "true";
			}
		}
	});
</script>


</html>