<!DOCTYPE html>
<html lang="en" data-scroll="false">

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/theme/dist/webvaloa.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="vue-pagination-2.min.js"></script>
</head>

<body>
	<header id="webvaloa">
		<div class="container grid-lg">
			<div class="columns">
				<div class="column col-6">
					<img src="/assets/img/webvaloa.svg" alt="Webvaloa" class="logo" />
				</div>
				<div class="column col-6">

				</div>
			</div>
			<nav>
				<ul>
					<li>
						<a href="#" class="nav-link"><i class="fas fa-air-freshener"></i><span class="menu-title">Content</span></a>
						<div class="submenu">
							<div class="columns">
								<div class="column col-3">
									<ul>
										<li><a href="#">Articles</a></li>
										<li><a href="#">Categories</a></li>
										<li><a href="#">Media</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<ul>
										<li><a href="#">Tags</a></li>
										<li><a href="#">Navigation</a></li>
										<li><a href="#">Fields</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<ul>
										<li><a href="#">Add News</a></li>
										<li><a href="#">Add Blog</a></li>
										<li><a href="#">Add Product</a></li>
										<li><a href="#">Add Subpage</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="#" class="nav-link"><i class="fas fa-paw"></i><span class="menu-title">Users</span></a>
						<div class="submenu">
							<div class="columns">
								<div class="column col-3">
									<ul>
										<li><a href="#">Users</a></li>
										<li><a href="#">Roles</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<ul>
										<li><a href="#">Add User</a></li>
										<li><a href="#">Add Role</a></li>
									</ul>
								</div>
							</div>
							<div class="columns">
								<div class="column col-3">
									<ul>
										<li><a href="#">Login settings</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="#" class="nav-link"><i class="fas fa-fan"></i><span class="menu-title">Applications</span></a>
						<div class="submenu">
							<div class="columns">
								<div class="column col-3">
									<ul>
										<li><a href="#">Custom Contoller</a></li>
									</ul>
								</div>
						</div>
					</li>
					<li>
						<a href="pages/widgets.html" class="nav-link"><i class="fas fa-fan"></i><span class="menu-title">Settings</span></a>
						<div class="submenu">
							<div class="columns">
								<div class="column col-3">
									<ul>
										<li><a href="#">Extensions</a></li>
										<li><a href="#">Plugins</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<ul>
										<li><a href="#">Install Extension</a></li>
										<li><a href="#">Install Plugin</a></li>
									</ul>
								</div>
							</div>

							<div class="columns">
								<div class="column col-3">
									<ul>
										<li><a href="#">Settings</a></li>
									</ul>
									<ul>
										<li><a href="#">Logs</a></li>
									</ul>
								</div>
								<div class="column col-3">
									<ul>
										<li><a href="#">Profile</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="search">
						<form>
							<input type="search" placeholder="Search..." />
							<div class="results">
								<button class="clear" type="reset"><i class="fas fa-times-circle text-dark"></i></button>
								results
							</div>
							<i class="fas fa-search text-dark"></i>
						</form>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="app" class="container grid-lg">

		<!--<div class="toast toast-success">
			<button class="btn btn-clear float-right"></button>
			Successfully fucked up everything.
		</div>-->

		<div class="card" id="main-content">
			<div class="card-header">
				<input class="form-input float-right col-4" type="search" v-model="searchString" placeholder="Search articles" />
				<div class="card-title h5">Articles</div>
				<div class="card-subtitle text-gray">Lists all articles in the database.</div>
			</div>
			<div class="card-body">
				<div class="loading loading-lg" v-if="loading"></div>
				<div class="content-wrapper" v-if="!loading">
					<div class="content">
						<div class="actions">
							<div class="btn-group btn-group-block float-right">
								<button class="btn btn-sm btn-primary" v-bind:class="{ active: listStyle == 'table' }" v-on:click="listStyle='table'"><i class="fas fa-table"></i></button>
								<button class="btn btn-sm btn-primary" v-bind:class="{ active: listStyle == 'list' }" v-on:click="listStyle='list'"><i class="fas fa-list"></i></button>
							</div>
							<button class="btn btn-sm btn-success float-left">Add new article in {{categories[currentCategory].name}}</button>
						</div>
						<ul class="tab tab-block tab-articles">
							<li class="tab-item" v-for="category in categories">
								<a @click="setCategory(category.id)" v-bind:class="{ active: currentCategory == category.id }">{{category.name}}</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="articles">
								<div class="tile tile-centered" v-for="(article, index) in pagination" v-bind:key="index" v-if="listStyle=='list'">
									<div class="tile-content">
										<div class="tile-title">{{article.title}}</div>
										<small class="tile-subtitle text-gray">{{article.owner}} · <span class="permission label label-rounded" v-for="permission of article.permission">{{(typeof roles[permission] === "object")?roles[permission].name:"?"}}</span> · {{article.created}}</small>
									</div>
									<div class="tile-action">
										<a :href="'/article/edit/' + article.id" class="btn btn-link text-dark">
											Clone
										</a>
										<a :href="'/article/edit/' + article.id" class="btn btn-link text-error">
											Delete
										</a>
										<a :href="'/article/edit/' + article.id" class="btn btn-link">
											Edit
										</a>
									</div>
								</div>
								<table class="table table-striped table-hover" v-if="listStyle=='table'">
									<thead>
										<tr>
											<th>Title</th>
											<th>Alias</th>
											<th>Owner</th>
											<th>Created</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(article, index) in pagination" v-bind:key="index">
											<td>{{article.title}}</td>
											<td>{{article.alias}}</td>
											<td>{{article.owner}}</td>
											<td>{{article.created}}</td>
											<td>
												<a :href="'/article/edit/' + article.id" class="btn btn-link text-dark">
													Clone
												</a>
												<a :href="'/article/edit/' + article.id" class="btn btn-link text-error">
													Delete
												</a>
												<a :href="'/article/edit/' + article.id" class="btn btn-link">
													Edit
												</a>
											</td>
										</tr>

									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<pagination v-bind:records="articleCount" v-model="page" v-bind:per-page="limit" ref="pagination"></pagination>
				<small class="text-gray" v-if="searchString!==''"> Searching for: "{{searchString}}"</small>
			</div>
		</div>
	</div>
</body>

<script>
	const app = new Vue({
		el: '#app',
		components: {
			Pagination
		},
		data: {
			page: 1,
			limit: 5,
			articleCount: 0,
			currentCategory: 0,
			articles: [],
			categories: [],
			roles: {},
			searchString: "",
			loading: false,
			listStyle: 'list'
		},
		computed: {
			pagination() {
				const page = this.page - 1;
				let articles = [];
				if (this.searchString.length !== '') {
					const searchString = this.searchString.toLocaleLowerCase();
					articles = this.articles.filter(article => (article.title.toLocaleLowerCase().includes(searchString) || article.alias.toLocaleLowerCase().includes(searchString)));
				} else {
					articles = this.articles;
				}
				this.articleCount = articles.length;
				const slice = articles.slice(page * this.limit, (page + 1) * this.limit);
				return slice;
			}
		},
		methods: {
			fetchCategories: async () => {
				return fetch("/fake-api/categories.json")
					.then(res => {
						if (res.status !== 200) {
							throw Error("Server error while fetching categories.");
						}
						return res.json();
					})
			},
			fetchArticles: async categoryId => {
				return fetch(`/fake-api/category/${categoryId}.json`).then(res => {
					if (res.status !== 200) {
						throw Error("Server error while fetching articles.");
					}
					return res.json();
				})
			},
			fetchRoles: async () => {
				return fetch(`/fake-api/roles/roles.json`).then(res => {
					if (res.status !== 200) {
						throw Error("Server error while fetching roles.");
					}
					return res.json();
				})
			},
			async setCategory(id) {
				console.log(`Setting category to ${id}`);
				this.loading = true;
				try {
					this.page = 1;
					this.$refs.pagination.setPage(1);
					this.currentCategory = id;
					this.articles = await this.fetchArticles(this.currentCategory);
					this.loading = false;
				} catch (e) {
					console.error(e);
					alert(e);
					this.loading = false;
				}
			}
		},
		async created() {
			this.loading = true;
			try {
				this.page = 1;
				this.categories = await this.fetchCategories();
				if (this.categories.length === 0) {
					throw Error("No categories found");
				}
				this.currentCategory = this.categories[0].id;
				this.articles = await this.fetchArticles(this.currentCategory);
				this.roles = await this.fetchRoles();
				this.loading = false;
			} catch (e) {
				console.error(e);
				alert(e);
				this.loading = false;
			}
		}
	})
</script>

<script>
	document.addEventListener("scroll", () => {
		if (document.documentElement.dataset.scroll === "true") {
			if (window.scrollY < 45) {
				document.documentElement.dataset.scroll = "false";
			}
		} else {
			if (window.scrollY > 160) {
				document.documentElement.dataset.scroll = "true";
			}
		}
	});
</script>


</html>