#webvaloa a {
	line-height: 2em;
	height: 2.9em;
}

#webvaloa .navbar-brand {
	line-height: 2.7em;
}

#app {
	padding: 25px 0;
}

.articles .tile {
	margin: 15px 0;
	padding-bottom: 10px;
	border-bottom: solid 1px #efefef;
}

#main-content {
	margin: 25px 0;
	border: 0;
	box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
}