// Example of project-name.scss
// Define variables to override default ones
$primary-color: #377CDA;
$dark-color: #353535;

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";

body {
	background: #EFF3F5;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',  Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

#webvaloa {
	background: white;
	box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
	padding: 25px 0;

	img.logo {
		width: 200px;
		margin-bottom: 10px;
	}

	nav {
		background: #f9f9fc;

		&>ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;

			&>li {
				margin: 0;
				padding: 0;
				display: inline-block;
				display: flex;
				flex: 1;

				&:hover {
					background: #f2f2f9;
				}

				&.active {
					background: $primary-color;

					&,
					a {
						color: white;
					}
				}

				a {
					i.fas {
						margin: 0 10px 0 0;
					}

					font-size: 13px;
					font-weight: 600;
					text-decoration: none;
					text-transform: uppercase;


					width: 100%;
					text-align: center;
					display: block;
					padding: 13px;
				}

				.submenu {
					display: none;
				}

				&:hover>.submenu {
					position: absolute;
					display: block;
				}
			}
		}
	}
}

#app {
	padding: 25px 0;
}

#main-content {
	margin: 25px 0;
	border: 0;
	box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
}

.articles {
	.tile {
		margin: 15px 0;
		padding-bottom: 10px;
		border-bottom: solid 1px #efefef;
	}
}

.permission.label {
	margin: 0 2px;
}