// Example of project-name.scss
// Define variables to override default ones
$primary-color: #377CDA;
$dark-color: #353535;
$gray-color: lighten($dark-color, 75%) !default;
$gray-color-dark: darken($gray-color, 30%) !default;
$gray-color-light: lighten($gray-color, 20%) !default;
$layout-spacing: .8rem;
$layout-spacing-sm: .4rem;
$layout-spacing-lg: 2rem;

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";

body {
	background: #EFF3F5;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

html:not([data-scroll='false']) {
	#webvaloa {
		padding: 0;
		background: transparent;
		box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0);

		nav {
			box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
		}

		img.logo {
			top: -60px;
			opacity: 0;
		}
	}
}

#webvaloa {
	position: sticky;
	top: 0px;
	z-index: 100000;
	background: white;
	box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
	padding: 85px 0 25px;
	transition: all ease-out 300ms;

	.container {
		padding: 0;
	}

	img.logo {
		top: 25px;
		opacity: 1;
		height: 50px;
		width: auto;
		position: absolute;
		transition: all ease-out 200ms;
	}

	nav {
		position: relative;
		background: #f9f9fc;

		&>ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;

			&>li {
				margin: 0;
				padding: 0;
				display: inline-block;
				display: flex;
				flex: 1;

				&:hover {
					background: #f2f2f9;
				}

				&.active {
					background: $primary-color;

					&,
					a {
						color: white;
					}
				}

				&.search {
					background: $gray-color;
					flex: inherit;
					width: 45px;

					input {
						display: block;
						outline: none;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						background: $gray-color;
						border: 0;
						box-shadow: none;
						width: 100%;
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						width: 45px;
						padding: 0 15px;
						transition: all ease-out 300ms;
						opacity: 0;

						&:focus {
							opacity: 1;
							width: 100%;
							//box-shadow: 0 0 0 0.1rem rgba(55, 124, 218, .2);
						}
					}

					input:placeholder-shown+.results {
						display: none;
					}

					.results {
						display: block;
						padding: 15px;
						background: $gray-color;
						position: absolute;
						left: 0;
						top: 45px;
						right: 0;
						height: 200px;
					}

					i.fas {
						text-align: center;
						width: 100%;
						display: block;
						height: 100%;
						line-height: 45px;
					}

					a {
						display: inline-block;
					}

					a:focus+.search-bar {
						opacity: 1;
						pointer-events: all;
					}

				}

				a {
					color: $primary-color;

					i.fas {
						margin: 0 10px 0 0;
					}

					font-size: 13px;
					font-weight: 600;
					text-decoration: none;
					text-transform: uppercase;

					width: 100%;
					text-align: center;
					display: block;
					padding: 13px;
				}

				.submenu {
					opacity: 0;
					position: absolute;
					display: block;
					padding: 25px;
					left: 0;
					right: 0;
					top: 45px;
					max-height: 100vh;
					overflow-y: auto;
					transition: all ease-out 300ms;
					transform: translateY(-10px);
					background: #f2f2f9;
					pointer-events: none;

					.column h5 {
						padding-left: 10px;
					}

					a {
						padding: 2px 4px 2px 4px;
						text-align: left;

						&:hover {
							background: #f9f9fc;
						}
					}

					ul li {
						list-style-type: none;
						padding-left: 0px;
						margin-left: 0px;

						a {
							padding: 5px 10px 5px 10px;
							margin-left: 0px;
						}
					}

					* ul {
						padding: 0px !important;
						margin: 0px !important;
					}

				}

				&:hover>.submenu {
					opacity: 1;
					transform: translateY(0px);
					pointer-events: all;
					transition: all ease-out 100ms;
				}
			}
		}
	}
}

#app {
	padding: 25px 0;
}

#main-content {
	margin: 25px 0;
	border: 0;
	box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
}

.articles {
	.tile {
		margin: 15px 0;
		padding-bottom: 10px;
		border-bottom: solid 1px #efefef;
	}
}

.permission.label {
	margin: 0 2px;
}

.login {
	.login-container {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

		form {
			width: 250px;
			max-width: 100%;
			margin: auto;

			input {
				padding-left: 2rem;
			}

			input+i {
				margin: 0 0.65rem;
				color: #c3cde4;
			}

			button {
				padding-left: 25px;
				padding-right: 25px;
			}
		}
	}

	.disclaimer {
		display: block;
		margin-top: 20px;
	}
}

.bg-white {
	background-color: white;
}

.btn {
	font-size: 0.6rem;
	font-weight: 600;
}

.form-input {
	border: 1px solid #c3cde4;
	border-radius: 6px;
}